<h3>Graphs about the number of launches of each <a href="https://fastlane.tools" target="_blank">fastlane</a> tool<h3>
<h4><a href="https://github.com/fastlane/refresher" target="_blank">View the source code on GitHub</a></h4>
<h3>Error rate</h3>
<canvas id="myChart"></canvas>


<script type="text/javascript">
  ctx = $("#myChart").get(0).getContext("2d");
  myNewChart = new Chart(ctx);

  var data = {
    labels: <%= raw(@days) %>,
    datasets: <%= raw(@data.collect { |k, v| v }.to_json) %>
  };

  var myLineChart = new Chart(ctx).Line(data, {
    scaleBeginAtZero: true,
    responsive: true,
    animate: false,
    multiTooltipTemplate: "<\%= datasetLabel %> - <\%= value %>"
  });

</script>

<h3><a href="https://github.com/fastlane/refresher" target="_blank">View the source code of 'refresher'</a></h3>